@{
    ViewBag.Title = "Twitter Authentication";
}

<h2>Twitter Authentication</h2>
<p>
    @Html.ActionLink("login","CheckTwitterAuthentication","Account",null, new {@class="twitterAuth" })
    
</p>
